binary/
brew_result/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync
live-image-*
buildlab.sh


.build/
build.log

scpcommand.sh

cache/

chroot/
chroot.packages.*
chroot.files

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/build

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync

*~